.container {
  background-color: var(--blue-700);
  background-image: url("../../assets/textura.png");
  min-height: 100vh;

  .displayFlex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1rem;
    gap: 4rem;
  }

  .mdaProgressPage {
    margin-top: calc(71.5px + 1rem);
  }

  .progressBarsContainer {
    width: 400px;
    height: 450px;
    background-color: var(--gray-200);
    border-radius: 30px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
    color: var(--gray-500);

    .progressionBarContainer{
      margin: 10px;
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
    }

    .iconAndTitle{
      display: flex;
      align-items: center;
      gap: 0.5rem;

      span{
        font-size: 0.875rem;
        font-weight: 700;
      }
    }

    .barContainer{
      display: flex;
      align-items: center;
      gap: 0.5rem;

      span{
        font-size: 0.83rem;
        font-weight: 600;
      }
    }

    .progressBar{
      width: 300px;
      height: 15px;
      background-color: var(--gray-300);
      border-radius: 99999px;
    }

    .progression{
      height: 100%;
      border-radius: 99999px;
      background-color: var(--blue-700);
    }
    
    
  }

  .infoToBuilding{
    background-color: var(--blue-800);
    background-image: url("../../assets/textura.png");
    width: 400px;
    height: 450px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);

    .pictureFrame{
      width: 380px;
      height: 240px;
      margin-top: 10px;
      background-color: var(--white);
      border-radius: 30px 30px 0 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--gray-500);
      font-weight: 700;

      span{
        margin-top: 5px;
      }

      img{
        border-radius: 30px 30px 0 0;
      }
    }
  }
}