.container{
  height: 100vh;
  width: 100%;
  background-image: url('../../assets/ocean4.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 100vw 100hw;

  

  .infoContainer{
    display: flex;
    align-items: center;
    position: relative;
    top: 70vh;
    justify-content: space-between;
  }

}

@media (max-width: 540px) {
  .infoContainer{
    img{
      width: 130px;
    }
  }
}