.mainContainer{
  background-color: var(--gray-200);
  display: flex;
  flex-direction: column;
 
  .designPage{
    margin: 1rem 1rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .displaySliderAndDetails{
    display: flex;
    flex-direction: column;
    // position: relative;
    // bottom: 9rem;
    justify-content: space-between;
    gap: 2rem;
  }

  .sliderContainer{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiperSlide{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
  }

  .imageOfGallery{
    width: 700px;
    height: 350px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 40px;
  }

  .detailsContainer{
    display: flex;  
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .detailsItem{
    width: 150px;
    max-width: 20vw;
    padding: 1rem;
    height: 100px;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--blue-800);
    background-image: url("../../assets/textura.png");
    color: var(--white);
    border-radius: 20px 20px 0 0;

  

    p{
      font-size: 0.6rem;
      font-weight: 700;
    }

    span{
      font-weight: 700;
    }


    .textSpace{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .goldenLines{
    width: 20vw;
  }
}
@media (max-width: 600px) {
  .detailsItem{
    padding: 1rem;
    p{
      text-align: center;
    }
    span{
      font-size: 0.7rem;
    }
    svg{
      width: 25px;
    }
  }
  
}